# Database Configuration (Setup nanti)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=taskhub_db

# Frontend URL
FRONTEND_URL=https://taskhub-fe.vercel.app

# JWT Secret
JWT_SECRET=change-this-to-random-string

# Environment
NODE_ENV=production
